:root {
  // Text
  --text-primary: rgba(255, 255, 255, 1);
  --text-secondary: rgba(255, 255, 255, 0.786);
  --text-tertiary: rgba(255, 255, 255, 0.5442);
  --text-disabled: rgba(255, 255, 255, 0.3628);

  --accent-text-primary: rgba(153, 235, 255, 1);
  --accent-text-secondary: rgba(153, 235, 255, 1);
  --accent-text-tertiary: rgba(96, 205, 255, 1);
  --accent-text-disabled: rgba(255, 255, 255, 0.36);

  --text-on-accent-primary: rgba(0, 0, 0, 1);
  --text-on-accent-secondary: rgba(0, 0, 0, 0.5);
  --text-on-accent-disabled: rgba(255, 255, 255, 0.5302);

  // Fill
  --control-default: rgba(255, 255, 255, 0.0605);
  --control-secondary: rgba(255, 255, 255, 0.0837);
  --control-tertiary: rgba(255, 255, 255, 0.0326);
  --control-disabled: rgba(255, 255, 255, 0.0419);

  --control-alt-secondary: rgba(0, 0, 0, 0.1);
  --control-alt-tertiary: rgba(255, 255, 255, 0.04);
  --control-alt-quarternary: rgba(255, 255, 255, 0.07);

  --subtle-secondary: rgba(255, 255, 255, 0.0605);
  --subtle-tertiary: rgba(255, 255, 255, 0.0419);

  --accent-default: rgba(96, 205, 255, 1);
  --accent-secondary: rgba(96, 205, 255, 0.9);
  --accent-tertiary: rgba(96, 205, 255, 0.8);
  --accent-disabled: rgba(255, 255, 255, 0.1581);

  --flyout-base: rgba(44, 44, 44, 1);

  // Elevation
  --elevation-control-border: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.093) 0%,
    rgba(255, 255, 255, 0.0698) 9.57%
  );

  // Stroke
  --control-stroke-default: rgba(255, 255, 255, 0.07);

  --card-stroke-default: rgba(0, 0, 0, 0.1);

  --surface-stroke-default: rgba(117, 117, 117, 0.4);

  // Backgrounds
  --card-background-default: rgba(255, 255, 255, 0.05);
  --card-background-on-thin-acrylic: rgba(0, 0, 0, 0.65);

  --acrylic-background-default: rgba(44, 44, 44, 0.15);

  --accent-acrylic-background-default: linear-gradient(
      0deg,
      rgba(0, 120, 212, 0.8),
      rgba(0, 120, 212, 0.8)
    ),
    rgba(0, 120, 212, 0.8);

  // Shadow
  --card-rest-shadow: rgba(0, 0, 0, 0.13);
  --card-hover-shadow: rgba(0, 0, 0, 0.26);

  --flyout-shadow: rgba(0, 0, 0, 0.26);
}
