:root {
  // Text
  --text-primary: rgba(0, 0, 0, 0.8956);
  --text-secondary: rgba(0, 0, 0, 0.6063);
  --text-tertiary: rgba(0, 0, 0, 0.4458);
  --text-disabled: rgba(0, 0, 0, 0.3614);

  --accent-text-primary: rgba(0, 62, 146, 1);
  --accent-text-secondary: rgba(0, 26, 104, 1);
  --accent-text-tertiary: rgba(0, 95, 184, 1);
  --accent-text-disabled: rgba(0, 0, 0, 0.3614);

  --text-on-accent-primary: rgba(255, 255, 255, 1);
  --text-on-accent-secondary: rgba(255, 255, 255, 0.7);
  --text-on-accent-disabled: rgba(255, 255, 255, 1);

  // Fill
  --control-default: rgba(255, 255, 255, 0.7);
  --control-secondary: rgba(249, 249, 249, 0.5);
  --control-tertiary: rgba(249, 249, 249, 0.3);
  --control-disabled: rgba(255, 255, 255, 0.786);

  --control-alt-secondary: rgba(0, 0, 0, 0.0241);
  --control-alt-tertiary: rgba(0, 0, 0, 0.0578);
  --control-alt-quarternary: rgba(0, 0, 0, 0.0924);

  --subtle-secondary: rgba(0, 0, 0, 0.0373);
  --subtle-tertiary: rgba(0, 0, 0, 0.0241);

  --accent-default: rgba(0, 95, 184, 1);
  --accent-secondary: rgba(0, 95, 184, 0.9);
  --accent-tertiary: rgba(0, 95, 184, 0.8);
  --accent-disabled: rgba(0, 0, 0, 0.2169);

  --flyout-base: rgba(249, 249, 249, 1);

  // Elevation
  --elevation-control-border: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0578) 90.58%,
    rgba(0, 0, 0, 0.1622) 100%
  );

  // Stroke
  --control-stroke-default: rgba(0, 0, 0, 0.06);

  --card-stroke-default: rgba(0, 0, 0, 0.06);

  --surface-stroke-default: rgba(117, 117, 117, 0.4);

  // Backgrounds
  --card-background-default: rgba(238, 238, 238, 1);
  --card-background-on-thin-acrylic: rgba(246, 246, 246, 0.9);

  --acrylic-background-default: rgba(252, 252, 252, 0);

  --accent-acrylic-background-default: linear-gradient(
      0deg,
      rgba(153, 235, 255, 0.8),
      rgba(153, 235, 255, 0.8)
    ),
    rgba(153, 235, 255, 0.9);

  // Shadow
  --card-rest-shadow: rgba(0, 0, 0, 0.04);
  --card-hover-shadow: rgba(0, 0, 0, 0.1);

  --flyout-shadow: rgba(0, 0, 0, 0.14);
}
